# currently, the BindTo is not working
[Service]
Type=oneshot
RemainAfterExit=yes

EnvironmentFile=/etc/device.properties
ExecStart=/sbin/ip link set dev %i up
ExecReload=/sbin/ip addr flush dev %i scope global
ExecStop=-/sbin/ip addr flush dev %i scope global
StandardOutput=journal+console

[Unit]
BindsTo=%i.device
After=%i.device
