[Unit]
Description=btrfs subvolume management

[Service]
Type=notify
ExecStart=/bin/sh /lib/rdk/btrfs/nvram-subvol-init.sh
SyslogIdentifier=btrfs-subvolume

[Install]
RequiredBy=local-fs.target
