[Unit]
Description=btrfs subvolume management

[Service]
Type=oneshot
ExecStart=/bin/sh /lib/rdk/btrfs/nvram-subvol-init.sh
SyslogIdentifier=btrfs-subvolume

[Install]
WantedBy=local-fs.target
